* {
  box-sizing: border-box;;
}

html {
  font-family: Helvetica Neue, Helvetica, sans-serif;
}

.app-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(img/mafia.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  /*justify-content: center;*/
  /*text-align: center;*/
  color: #333;
}

.home-info {
  background-color: rgba(220, 220, 220, .8);
  text-align: center;
  padding: 15px 30px;
  border-radius: 5px;
}

.title {
  color: 	#0088CC;
  /*color: #B10DC9;
  font-family: Skia;
  font-weight: normal;*/
}
input {
  max-width: 90%;
}
.search {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
}

.home-info > form {
  width: 100%;
  min-width: 300px;
}

.browse-all {
  margin-top: 15px;
  padding: 10px 40px;
  background-color: #333;
  color: #fafafa;
  border-color: transparent;
  display: inline-block;
  text-decoration: none;
  border-radius: 4px;
}

.browse-all:hover, .browse-all:focus {
  background-color: #666;
}

.browse-all:active {
  background-color: #fafafa;
  color: #333;
  border-color: #333;
}

.container {
  position: absolute;
  top: 55px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  overflow-y: scroll;
  background-color: rgba(220, 220, 220, .8);
  padding: 15px 30px;
  border-radius: 5px;
}

.games {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.games > a {
  width: 30%;
  height: 0;
  padding-bottom: 19.8%;
  overflow: hidden;
  margin-bottom: 3%;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  text-decoration: none;
}

a > .game-card {
  width: 100%;
  padding-bottom: 70%;
  height: 0;
  overflow: inherit;
  margin-bottom: inherit;;
  border: none;
  border-radius: inherit;

}

.game-card{
  display: inline-block;
  border: 2px solid #333;
  border-radius: 4px;
  text-align: left;
  width: 30%;
  height: 0;
  padding-bottom: 19.8%;
  padding-right: 5%;
  overflow: hidden;
  margin: 10px;
}
.player-card {
  display: inline-block;
  border: 2px solid #333;
  border-radius: 4px;
  text-align: center;
  width: 30%;
  height: 0;
  padding-bottom: 19.8%;
  overflow: hidden;
  margin: 10px;
}

.game-card-img {
  width: 44%;
  float: left;
  margin-right: 2%;
}
.player-card-img {
  display: block;
  margin: 5px auto;
  width: 50%;
}
.game-image {
  position: relative;
  width: 75%;
  margin: 0 auto;
}
.player-card-text {
  display: block;
  text-align: center;
  overflow-y: scroll;
}
.game-card-text {
  padding: 5px;
}

.game-card-title, .player-card-name {
  margin-top: 0;
  margin-bottom: 5px;
}

.game-card-year {
  margin-top: 0;
  margin-bottom: 5px;
  color: #666;
  font-size: 13px;
}

.game-card-description {
  margin: 0;
  font-size: 13px;
}

.header + .games {
  margin-top: 25px;
}

.header {
  z-index: 10;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  background-color: #fafafa;
  padding: 8px 30px;
}

.brand {
  font-family: Skia;
  font-weight: normal;
  color: #B10DC9;
  margin: 0;
}

.brand > a {
  color: #B10DC9;
  text-decoration: none;
}

.header-back {
  font-weight: normal;
  margin: 0;
}

.header-back > a {
  color: #aaa;
  text-decoration: none;
}

.search-input {
  min-width: 250px;
  max-width: 350px;
  width: 33%;
  padding: 4px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.player-container {
  margin: 10px auto;
  overflow-y: scroll;
  background-color: rgba(220, 220, 220, .8);
  padding: 15px 30px;
  border-radius: 5px;
}

.game-description {
  text-align: left;
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.animate-flicker {
   -webkit-animation: flickerAnimation 1s infinite;
   -moz-animation: flickerAnimation 1s infinite;
   -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;
}

html {
  font-size: 14px;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 20px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 28px;
  }
}
